<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    Snickers
    {% endblock title %}
  </title>
</head>
<body>
  <header> 
    <nav>
      <ul>
        <li><a href="/">Django </a> </li>
        <li><a href="/about">Web framework </a> </li>
      </ul>
    </nav>
 </header>
  <main>
    {% block content %}
    <h1> Why im here? </h1>
    {% endblock content %}
  </main>
  <footer>
    Copyright IL
 </footer>
</body>
</html>